<!DOCTYPE html>
<html>
{{> head}}
<body>

	{{> header}}

	<div class="quiz banner"></div>

	<div class="content">

		<h1>{{question}}</h1>

		<form action="/quiz/question/{{nextQuestion}}" method="GET">
			<h2>Question {{questionNumber}}</h2>

			<div>
				{{answer1Answer}}: <input type="radio" name="temper" value="{{answer1Value}}"/>
			</div>

			<div>
				{{answer2Answer}}: <input type="radio" name="temper" value="{{answer2Value}}"/>
			</div>

			<div>
				{{answer3Answer}}: <input type="radio" name="temper" value="{{answer3Value}}"/>
			</div>
			
			<input class="submit" type="submit" value="Next" />
		</form>

	</div>

	{{results}}

	<div>
		<a href="/quiz/reset">Restart Test</a>
	</div>

</body>
</html>