<!DOCTYPE html>
<html>
<head>
        <title>What Dog are You</title>
</head>
<body>

	{{> header}}

	<h1>{{question}}</h1>

	<form action="/quiz/{{nextQuestion}}" method="GET">
		<h2>Question {{questionNumber}}</h2>
		<select name="temper">
			<option>{{answer1}}</option>
			<option>{{answer2}}</option>
			<option>{{answer3}}</option>
		</select>
		<input type="submit"/>
	</form>

	{{results}}

	<div>
		<a href="/reset">Restart Test</a>
	</div>

</body>
</html>