<!DOCTYPE html>
<html>
{{> head}}
<body>

	<div class="container"> 

		{{> header}}

		<div class="results-page">

			<div class="results-header">
				<p>
					You are {{prominentTraits.firstTrait}}, {{prominentTraits.secondTrait}}, and {{prominentTraits.thirdTrait}}
				</p>
				<p>So you are a...</p>
			</div>

			<div class="dog-name">
				{{mostMatched.name}}!
			</div>

			<div class="image-container">
				<img src="{{imageSource}}" />
			</div>

			<p>
				A {{mostMatched.bred_for}} dog
			</p>

		</div>

	</div>

	{{> footer}}

</body>
</html>