<!DOCTYPE html>
<html>
{{> head}}
<body>
	{{> header}}

	<div class="results-header">
		<p>
			You are {{prominentTraits.firstTrait}}, {{prominentTraits.secondTrait}}, and {{prominentTraits.thirdTrait}}
		</p>
		<p>So you are a...</p>
		<div class="dog-name">
			{{mostMatched.name}}
		</div>
		<p>
			A {{mostMatched.bred_for}} dog
		</p>

	{{> footer}}
</body>
</html>